<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="flex-container">
      <h2>KICKS</h2>
      <img src="assets/search.png" alt="" style="width: 25px;">
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="swipercons">
    <swiper-container
    [pagination]="true">
      <swiper-slide>
        <img src="assets/picture3.png" alt="">
      </swiper-slide>
      <swiper-slide>
        <img src="assets/picture3.png" alt="">
      </swiper-slide>
      <swiper-slide>
        <img src="assets/picture3.png" alt="">
      </swiper-slide>
    </swiper-container>
  </div>
  <div class="addtobadcontainer">
    <div class="colors">
      <p>Colors</p>
      <div class="color-contaners">
        <div class="black"></div>
        <div class="white"></div>
        <div class="red"></div>
        <div class="blue"></div>
      </div>
    </div>
    <div class="name">
      <h2>J1 UNC</h2>
      <h1>₱ 5,200</h1>
    </div>
  </div>
  <div class="size-container">
    <div class="container">
      <h1>Select Size</h1>
      <div class="size-buttons">
        <ion-button size="small"  (click)="selectSize('5')">US 5</ion-button>
        <ion-button size="small" (click)="selectSize('5.5')">US 5.5</ion-button>
        <ion-button size="small" (click)="selectSize('6')">US 6</ion-button>
        <ion-button size="small"  (click)="selectSize('6.5')">US 6.5</ion-button>
        <ion-button size="small" (click)="selectSize('7')">US 7</ion-button>
        <ion-button size="small"  (click)="selectSize('7.5')">US 7.5</ion-button>
        <ion-button size="small" (click)="selectSize('8')">US 8</ion-button>
        <ion-button size="small" (click)="selectSize('8.5')">US 8.5</ion-button>
        <ion-button size="small"  (click)="selectSize('9')">US 9</ion-button>
        <ion-button size="small"  (click)="selectSize('9.5')">US 9.5</ion-button>
        <ion-button size="small" (click)="selectSize('10')">US 10</ion-button>
        <ion-button size="small" (click)="selectSize('10.5')">US 10.5</ion-button>
        <ion-button size="small"  (click)="selectSize('11')">US 11</ion-button>
      </div>
    </div>
  </div>
  <button (click)="GoToCheckout()">Add to Cart <i class="fa fa-cart-plus"></i></button>
  <p class="statement">Created for the hardwood but taken to the streets, the 80s b-ball icon returns with a rich mixture of hairy suede and wear-anywhere earth-thone colours with it's classic hoops design, the Nike Dunk Low Premium channels 
    '80s vintage back onto the streets, while it's padded, low cut collar looks sleek and feels great
  </p>
  <div class="how-they-wear">
    <h1>How others are Wearing it</h1>  
    <p>Use their fashion as inspiration</p>
    <div class="slider-container">
      <div class="img-container" [ngStyle]="{'background-image': 'url(' + images[currentIndex] + ')'}">
        <div class="button-container">
          <div class="prevButton" (click)="prevImage()"><</div>
          <div class="nextButton" (click)="nextImage()">></div>
        </div>
      </div>
    </div>
  </div>
  <div class="last">  
    <h1>Reviews</h1>
    <p>No Reviews (0)</p>
  </div>
</ion-content>
<ion-footer>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <img src="assets/home.png" alt="" width="25" (click)="GoToHome()">
      </ion-tab-button>
      <ion-tab-button tab="featured">
        <img src="assets/star.png" alt="" width="25" style="opacity: 70%;" (click)="GoToFeatured()">
      </ion-tab-button>
      <ion-tab-button tab="home">
        <img src="assets/basket.png" alt="" width="25" style="opacity: 70%;" (click)="GoToCheckout()">
      </ion-tab-button>
      <ion-tab-button tab="home">
        <div class="profilecontainer">
          <img src="assets/profile.png" alt="" width="40" style="opacity: 70%;" (click)="GoToProfile()">
        </div>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>