@font-face {
    font-family: 'CustomFont';
    src: url('/assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.example::-webkit-scrollbar {
    display: none;
}
* {
    --background: #F1F1F1;
    font-family: 'CustomFont', serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}
ion-header{
    width: 100%;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.flex-container {
    padding: 0 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.icon-inner{
    background-color: black;
    color: black;
    width: 100%;
    height: 100%;
}
.flex-container h2 {
    color: black;
    font-weight: bolder;
    margin-right: 20px;
    font-size: 30px;
}
svg{
    color: black;
    background-color: black;
    width: 100%;
    height: 100%;
}
.flex-container img{
    margin-top: 4px;
}
.swipercons{
    width: 100%;
    height: 50%;
}
swiper-container{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid gray;
}
.circle-containers{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.eclipse{
    margin-top: -20px;
    background-color: gray;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.addtobadcontainer{
    padding: 1% 5%;
    display: flex;
    justify-content: space-between;
}
.colors{
    display: flex;
    flex-direction: column;

    p{
        font-family: sans-serif;
        font-weight: lighter;
        font-size: 15px;
        color: gray;
    }
}
.color-contaners{
    margin-top: -10px;
    display: flex;
    gap: 5px;
    div{
        width: 45px;
        height: 35px;
        border-radius: 10%;
    }
    .black{
        background-color: rgb(22, 22, 22);
    }
    .white{
        background-color: white;
    }
    .red{
        background-color: rgb(193, 43, 43);
    }
    .blue{
        background-color: rgb(28, 55, 178);
    }
}
.name{
    text-align: end;
    h1{
        font-family: sans-serif;
        font-weight: bolder;
        margin-top: -10px;
        color: rgb(17, 100, 17);
    }
}
.size-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-left: 10px;
    margin-top: 5px;
  }
  
  ion-button {
    width: 70px;
    height: 35px;
    font-size: 12px;
    --color: black;
    border-radius: 10%;
    border: 2px solid gray;
    font-family: sans-serif;
  }
  
  ion-button:focus {
    --background: #1f1f1f;
    --color: white;
  }

.size-container{
    h1{
        font-family: sans-serif;
        font-size: 18px;
        margin-left: 15px;
    }
}
button{
    width: 75%;
    height: 70px;
    background-color: #1f1f1f;
    font-size: 20px;
    border-radius: 50px;
    font-family: sans-serif;
    margin: 0 auto;
    font-weight: bold;
    margin-left: 13%;
    margin-top: 20px;
}
.statement{
    padding: 2% 5%;
    font-family: sans-serif;
    font-weight: normal;
    padding-bottom: 5%;
}
.how-they-wear{
    margin-top: 50px;
    h1{
        margin-left: 15px;
        font-size: 45px;
    }
    p{
        font-family: sans-serif;
        margin-left: 15px;
        margin-top: -7px;
        font-weight: lighter;
    }
}

.slider-container{
    padding: 3%;
}
.img-container{
    border-radius: 15px;
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}
.button-container {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    position: relative;
    top: 80%;
}

.button-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    padding: 0; /* Remove padding so the text stays centered */
    font-size: 18px; /* Adjust the font size for better alignment */
    cursor: pointer; /* Optional, to show it’s clickable */
}

.last{
    padding: 0 5%;
    h1{
        padding-bottom: 5%;
        border-bottom: 1px solid gray;
    }
}