<ion-content>
  <div class="container">
    <div class="kicks-container">
      <h1 style="opacity: 10%;">KICKS</h1>
      <h1 style="opacity: 8%;">KICKS</h1>
      <h1 style="opacity: 6%;">KICKS</h1>
      <h1 style="opacity: 4%;">KICKS</h1>
    </div>
    <img class="shoes" src="assets/picland.png" alt="">
    <div class="bottom-part-container">
      <h2>STEP INTO STYLE</h2>
      <p>Your ultimate Shoe shopping experience awaits</p>
      <ion-button color="transparent" (click)="GoToHome()">
        <img class="arrow" src="assets/arrow.png" alt="">
      </ion-button>
      <p class="get">Get Started</p>
    </div>
  </div>
</ion-content>    